@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i");

#philosophy {
  position: relative;
  bottom: 5px;
  background-color: #40403a;
  margin-top: 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  box-shadow:
    0px -1px 1px #ffffea,

    0px -10px 0 -5px #40403a,
    0px -10px 1px -4px #ffffea,

    0px -20px 0 -10px #40403a,
    0px -20px 1px -9px #ffffea,

    0px 1px 1px #ffffea,

    0px 10px 0 -5px #40403a,
    0px 10px 1px -4px #ffffea,

    0px 20px 0 -10px #40403a,
    0px 20px 1px -9px #ffffea;
  color: #ffffea;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  align-self: center;
  padding: 10px 20px;
}

#philosophy h2 {
  font-family: "Playfair Display", serif;
  letter-spacing: 15px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  text-align: center;
  max-width: 500px;
}

#philosophy p {
  font-family: "Playfair Display", serif;
  text-align: center;
}
