@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i");

form {
  color: #40403a;
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  margin: 25px;
}

form label {
  font-size: 1.2rem;
  margin-top: 15px;
}

form input {
  background: transparent;
  border: none;
  outline: none;
  width: 40%;
  font-size: 1.1rem;
  font-family: "Playfair Display", serif;
  border-bottom: 1px solid #40403a;
  text-align: center;
}

#submit {
  background: transparent;
  border: none;
  outline: none;
  width: 40%;
  font-size: 1.1rem;
  font-family: "Playfair Display", serif;
  border-bottom: 1px solid #40403a;
  text-align: center;
  margin: 25px;
  border-top: 1px solid black;
  width: auto;
}

.hidden {
  display: none;
}
