@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i');

form {
  color: #40403A;
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center
}
