@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i');

/* background = #FFFFEA
font = #403D3B */

div {
  margin: 0;
  padding: 0;
  font-family: serif;
  background-color: #FFFFEA;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFEA;
}

header {
  background-color: #FFFFEA;
  color: #403D3B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  box-shadow: 0px 5px 25px 1px hsl(0,0%,50%);
  height: 5vh;
  font-family: "Playfair Display", serif;
  z-index: 0;
}

h1 {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}

header a {
  text-decoration: none;
  color: #40403A
}

.add-menu:hover .add-content {
  display: block;
  width: 40px;
  color: #FFFFEA;
  background-color: #FFFFEA;
  font-size: 40px;
  align-self: center;
  line-height: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid #40403A;
}

#add-story {
  text-decoration: none;
  border-radius: 50%;
  color: #40403A;
  background-color: #FFFFEA;
  font-size: 40px;
  align-self: center;
  border: 1px solid #FFFFEA;
  line-height: 10px;
  padding-bottom: 6px;
}

.add-menu {
  position: relative;
  display: inline-block;
}

.add-content {
  display: none;
  position: absolute;
  right: -50px;
  margin-right: 50px;
  background-color: #FFFFEA;
  min-width: 140px;
}

.add-content a {
  color: #40403A;
  padding: 12px 16px;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 20px;
}



.dropdown:hover .dropdown-content {
  display: block;
  width: 40px;
  color: #FFFFEA;
  background-color: #FFFFEA;
  font-size: 40px;
  align-self: center;
  line-height: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid #40403A;
}

#menu {
  height: 40px;
  width: 40px;
  color: #40403A;
  background-color: #FFFFEA;
  font-size: 30px;
  align-self: center;
  border: 1px solid #FFFFEA;
  line-height: 10px;
  transform: rotate(90deg);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFEA;
  min-width: 140px;
}

.dropdown-content a {
  color: #40403A;
  padding: 12px 16px;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 20px;
}
